<main class="container">
  <%= turbo_frame_tag "modal" do %>
    <h1 class="display-6 ms-3 mt-2">Edit Product</h1>

    <div class="modal-body">
      <%= render "products/form", product: @product %>
    </div>
  <% end %>
</main>