<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col">
    <h1 class="display-6">Products</h1>
  </div>
</div>

<%= turbo_frame_tag "products" do %>
  <% if @products.blank? %>
    <h1 class="display-6">No Products to list yet...</h1>
  <% end %>
  <div class="row">
    <%= render partial: 'product_card', collection: @products, as: :product %>
  </div>
<% end %>